appsettings.json
appsettings.Development.json

.vscode/
.config/dotnet-tools.json

Properties/serviceDependencies.json
Properties/serviceDependencies.storygpt-api - Zip Deploy.json
Properties/ServiceDependencies/storygpt-api - Zip Deploy/apis1.arm.json
Properties/ServiceDependencies/storygpt-api - Zip Deploy/profile.arm.json
